---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "首頁";
const projectName = "GO WU CART";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>歡迎來到{projectName}</h2>
	<p>這裡會紀錄{projectName} 專案的全部資訊</p>
	<p>請移步至文章進一步查看</p>
</BaseLayout>
